name: Run Unit Tests

on:
  workflow_run:
    workflows: [Lint and Format]
    types:
      - completed
  workflow_dispatch:

jobs:
  test-api-server:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Create check
        if: ${{ github.event.workflow_run != null }}
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            // Get the head_sha from the workflow that triggered this one
            const headSha = context.payload.workflow_run.head_sha;

            await github.rest.checks.create({
              name: 'Unit Tests',
              head_sha: headSha,
              status: 'in_progress',
              output: {
                title: 'Unit Test Results',
                summary: ''
              },
              owner: context.repo.owner,
              repo: context.repo.repo
            });
            console.log("Created check");

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
          cache: true
          cache-dependency-path: server-api/go.sum

      - name: Install dependencies
        run: cd server-api && go mod download

      - name: Run unit tests
        id: test-step
        run: cd server-api && go test -v ./...

      - name: Report test results
        if: ${{ github.event.workflow_run != null && steps.test-step.outcome != null }}
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const conclusion = '${{ steps.test-step.outcome }}';

            // Get the head_sha from the workflow that triggered this one
            const headSha = context.payload.workflow_run.head_sha;

            await github.rest.checks.create({
              name: 'Unit Tests',
              head_sha: headSha,
              status: 'completed',
              conclusion: conclusion,
              output: {
                title: 'Unit Test Results',
                summary: `Tests completed with status: ${conclusion}`
              },
              owner: context.repo.owner,
              repo: context.repo.repo
            });
            console.log("Updated check with conclusion: " + conclusion);
